<footer>
    <div class="Container_Footer">
        <div class="Section_Container" [routerLink]="['/accueil']">
            <img src="assets/logofooter.png" alt="" width="150px" height="60px">
            <ul class="reseau d-flex justify-content-between ">
                <li><i class="bi bi-facebook" style="color: var(--couleurPrincipal);"></i></li>
                <li><i class="bi bi-instagram"  style="color:var(--couleurPrincipal);"></i></li>
                <li><i class="bi bi-youtube"  style="color: var(--couleurPrincipal);"></i></li>
            </ul>
        </div>
        <div class="footer_Menu" id="Mentions">
            <h5>Mentions Légales</h5>
             <p [routerLink]="['/politique']"><a> <i class="bi bi-chevron-right" style="color: var(--couleurPrincipal);"></i>Politique de confidentialité</a></p>
            <p [routerLink]="['/condition']"><a > <i class="bi bi-chevron-right" style="color: var(--couleurPrincipal);"></i>Condition d'utilisation</a></p>
        </div>
        <div class="footer_Menu">
            <h5>Liens utiles</h5>
            <p [routerLink]="['/contact']"><a > <i class="bi bi-chevron-right" style="color: var(--couleurPrincipal);"></i>Contact</a></p>
        </div>
     
    </div>
 
  
    <div class="Copyright text-center pb-1">Copyright © Simplon2024</div>
</footer>
