<app-header></app-header>
<div *ngIf="isButtonVisible" class="back-to-top-button" (click)="scrollToTop()">
  <i class="bi bi-chevron-up" style="color: var(--couleurSecondaire);"></i>
</div>
<body>
    <div class="baniere">
        <img src="assets/banniere.png" alt="" id="banner">
        <div class="contenuBan ms-5 d-flex">
            <img src="assets/kayynatban.png" alt="" class="ms-5">
            <div class="texteBan mt-5">
                <p><b>Bienvenu</b> <br>
                    Sur la plateforme <i class="fw-bold">KayNatt</i> , où la sécurité de vos épargnes est une priorité</p>
                <button class="fw-bold border-0 btnCreer pb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Creer une tontine</button>
            </div>
        </div>

    </div>
    <section class="container" id="about">
        <h4 class="text-center titreAbout mb-2">Qui sommes nous?</h4>
        <div class="containerAbout row" >
            <div class="imgAbout col-md-6">
                <img src="assets/imageAbout.png" alt="" width="450px" height="300px" class="mt-5">
            </div>
            <div class="textAbout  col-md-6">
                <p>
                    Bienvenue sur KayNatt, votre partenaire de confiance dans la gestion moderne de tontine. <br><br>Chez KayNatt, nous avons à cœur de simplifier et d'améliorer l'expérience de participation à des tontines, tout en favorisant une gestion transparente et efficace.<br><br>    
                Chez KayNatt, nous croyons en l'importance de l'inclusion financière et de la solidarité communautaire.
                C'est pourquoi nous avons créé une plateforme de tontine moderne qui s'adapte aux besoins de notre époque. 
                Avec KayNatt, vous pouvez participer à des tontines en ligne, éliminant ainsi les tracas administratifs traditionnels.
                </p>
            </div>

        </div>
    </section>
    <section class="container">
        <h4 class="text-center titreAv mt-5 mb-2">Nos avantages</h4>
        <div class="containerAv">
            <div class="carteAv w-50 mt-5 ">
                <div class="card avantage maron" style="width: 18rem;" >
                    <div class="card-body p-3">
                      <h5 class="card-title cardtitre text-center mb-2">Simplicité</h5>
                      
                      <p class="card-text ">Grâce à une interface conviviale, la création et la gestion de tontines deviennent accessibles à tous. Vous pouvez rapidement rejoindre des 
                        groupes d'épargne, suivre les 
                        contributions en temps réel </p>
                    </div>
                  </div>
                <div class="card avantage" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title cardtitre text-center">Transparence</h5>
                      
                      <p class="card-text">Chaque membre peut suivre en temps réel les contributions, les paiements et les cycles de distribution. Vous avez un accès complet à l'historique de votre tontine, vous permettant de prendre des décisions éclairées </p>
                    </div>
                  </div>
                <div class="card avantage" style="width: 18rem;" >
                    <div class="card-body">
                      <h5 class="card-title cardtitre text-center ">Sécurité</h5>
                      
                      <p class="card-text"> Nous utilisons des technologies de 
                        pointe pour assurer la confidentialité de vos données financières. Vos informations personnelles et vos transactions sontncryptées, vous offrant une tranquillité d'esprit totale quant à la sécurité de vos fonds. </p>
                    </div>
                  </div>
                <div class="card avantage maron" style="width: 18rem;">
                    <div class="card-body p-3">
                      <h5 class="card-title cardtitre text-center mb-2">Flexibilité</h5>
                      
                      <p class="card-text">Vous avez le contrôle sur la manière dont vous participez, suivez les contributions, et bénéficiez des distributions. Nous avons simplifié le processus pour vous permettre de personnaliser votre expérience  </p>
                    </div>
                  </div>
            </div>
            <img src="assets/avantage.png" alt="" width="400px" height="800px" class="decor">

        </div>
    </section>
    <section class="container" id="temoignage">
        <h4 class="text-center mt-5  titretem ">Nos témoignages</h4>
        <div class="containerTemoignage ">
            <div class='temoignage '>
                <input type="radio" name="position" checked />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <input type="radio" name="position" />
                <main id="carousel">
                  <div class="item">
                    <div class="card" style="width: 18.8rem; height:58vh;" id="carteTem">
                        <div class="card-body">
                          <h5 class="card-title d-flex"> <p class="iamgetem"><img src="https://img.freepik.com/premium-photo/beautiful-african-woman-black-t-shirt-portrait-afro-haircut-touching-her-face-color-background-pink_431835-9153.jpg?size=626&ext=jpg&ga=GA1.2.522834921.1700648147&semt=ais" alt=""></p><p class="mt-2 ms-3">Sibo <br>Baldé</p></h5>
                          <div class="card" style="width: 18.5rem; height: 39.3vh; margin-left: -14px;">
                            <div class="card-body">
                
                              <p class="card-text">J'ai découvert KayNatt par le biais d'un ami qui m'en a parlé. Il m'a dit que c'était une plateforme de gestion de tontine qui était très pratique et sécurisée. J'ai donc décidé de l'essayer et j'ai été très satisfait.</p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="card" style="width: 18.8rem; height:58vh;" id="carteTem">
                        <div class="card-body">
                          <h5 class="card-title d-flex"> <p class="iamgetem"><img src="https://img.freepik.com/premium-photo/excited-pointing-with-forefingers-away_1187-326351.jpg?size=626&ext=jpg&ga=GA1.2.522834921.1700648147&semt=ais" alt=""></p><p class="mt-2 ms-3">Gana <br>Ndiaye</p></h5>
                          <div class="card" style="width: 18.5rem; height: 39.3vh; margin-left: -14px;">
                            <div class="card-body">
                
                              <p class="card-text">KayNatt a véritablement changé la donne pour moi en matière de gestion de tontine. Avant, c'était souvent compliqué de suivre qui a contribué, qui a été payé, et où en était le cycle. Avec KayNatt, tout est clair, organisé, et surtout, beaucoup plus simple..</p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="card" style="width: 18.8rem; height:58vh;" id="carteTem">
                        <div class="card-body">
                          <h5 class="card-title d-flex"> <p class="iamgetem"><img src="https://img.freepik.com/premium-psd/woman-black-jacket-is-posing-photo-with-white-background_176841-45134.jpg?size=626&ext=jpg&ga=GA1.2.522834921.1700648147&semt=ais" alt=""></p><p class="mt-2 ms-3">Sibo <br>Baldé</p></h5>
                          <div class="card" style="width: 18.5rem; height: 39.3vh; margin-left: -14px;">
                            <div class="card-body">
                
                              <p class="card-text">J'ai découvert KayNatt par le biais d'un ami qui m'en a parlé. Il m'a dit que c'était une plateforme de gestion de tontine qui était très pratique et sécurisée. J'ai donc décidé de l'essayer et j'ai été très satisfait.</p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="card" style="width: 18.8rem; height:58vh;" id="carteTem">
                        <div class="card-body">
                          <h5 class="card-title d-flex"> <p class="iamgetem"><img src="https://img.freepik.com/premium-psd/woman-with-her-arms-crossed-front-logo-company-s-website_176841-36218.jpg?size=626&ext=jpg&ga=GA1.2.522834921.1700648147&semt=ais" alt=""></p><p class="mt-2 ms-3">Sibo <br>Baldé</p></h5>
                          <div class="card" style="width: 18.5rem; height: 39.3vh; margin-left: -14px;">
                            <div class="card-body">
                
                              <p class="card-text">J'ai découvert KayNatt par le biais d'un ami qui m'en a parlé. Il m'a dit que c'était une plateforme de gestion de tontine qui était très pratique et sécurisée. J'ai donc décidé de l'essayer et j'ai été très satisfait.</p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="item">
                    <div class="card" style="width: 18.8rem; height:58vh;" id="carteTem">
                        <div class="card-body">
                          <h5 class="card-title d-flex"> <p class="iamgetem"><img src="https://img.freepik.com/premium-psd/woman-with-book-her-hand-black-card-background_176841-36796.jpg?size=626&ext=jpg&ga=GA1.2.522834921.1700648147&semt=ais" alt=""></p><p class="mt-2 ms-3">Sibo <br>Baldé</p></h5>
                          <div class="card" style="width: 18.5rem; height: 39.3vh; margin-left: -14px;">
                            <div class="card-body">
                
                              <p class="card-text">J'ai découvert KayNatt par le biais d'un ami qui m'en a parlé. Il m'a dit que c'était une plateforme de gestion de tontine qui était très pratique et sécurisée. J'ai donc décidé de l'essayer et j'ai été très satisfait.</p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  </main>
              </div> 
        </div>
    </section>
    <section class="container mt-5 " id="tontine">
      <h4 class="text-center mt-5 titretem ">Ce qu'est une tontine dans KayNatt ?</h4>
      <div class="containerTon">
        <img src="assets/tontine.png" alt="" width="500px" height="400px">
        <p class="texton  mt-3 ">Une tontine est une forme traditionnelle de gestion financière où un groupe de personnes se réunit régulièrement pour contribuer financièrement, chacune à leur tour, à un fonds commun. <br><br>

          Chaque membre du groupe, à tour de rôle, reçoit la totalité du fonds collecté. Ce processus se répète jusqu'à ce que chaque membre ait bénéficié de la somme totale au moins une fois.<br> <br>
          
           KayNatt modernise cette pratique en éliminant la paperasserie traditionnelle et en automatisant le processus de contribution, offrant ainsi une gestion plus efficace, transparente et inclusive des tontines.
          
          </p>
      </div>

    </section>
    <section class="container " id="guide">
      <h4 class="text-center titreguide mt-5 mb-2">Guide</h4>
      <div class="accor">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item mb-3">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <b>1.</b> &nbsp; Comment creer une tontine? 
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
               <p>Pour creer une tontine, sur cette page au niveau de la banniere. Vous verrez un bouton creer une tontine et en cliquant dessus, vous verrez un formulaire dans lequel , vous allez renseigner tous les champs relatifs à votre tontine. Apres ça cliquer sur creer et votre tontine est créée </p>
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               <b> 2.</b>&nbsp; Comment integrer une tontine existante? 
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Pour integrer une tontine, vous devez vous rendre au niveau du detail  de cette tontine et appuyer sur le bouton integrer. Et là vous aurez un formulaire où vous devrez renseigner vos infomations necessaire à l'integration d'une tontine.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-2">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <b> 3.</b>&nbsp; Comment gerer sa tontine? 
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  Apres avoir creer votre tontine, vous aurez droit à votre espace personnel où vous pourrez configurer vos cycles , ajouter des participants et avoir un suivi sur les différentes transactions. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container" id="tontines">
      <h4 class="text-center titreTon mt-5 mb-4">Nos tontines</h4>
      <div class="containerCardTontine" >
        <div *ngFor="let tontine of getArticlesPage(); let i = index " >
          <div class="card carteTontineItem1" *ngIf="tontine.statutTontine=='accepte'" [ngClass]="i % 2 === 0 ? 'carteTontineItem1' : 'carteTontineItem2'" style="width: 18rem;">
            <div class="quart-de-cercle1"  [ngClass]="i % 2 === 0 ? 'quart-de-cercle1' : 'quart-de-cercle2'"> </div>
            <div class="card-body">
              <h5 class="card-title fw-bold item1title">{{tontine.libelle}}</h5>
              <p class="card-text">{{tontine.description}}</p>
              <a class="btn btnItem1" [routerLink]="['/detailTontine',tontine.id]"  [ngClass]="i % 2 === 0 ? 'btnItem1' : 'btnItem2'">Detail</a>
            </div>
          </div>
        
          
        
        
          
       
          
  
        </div>

      </div>
      <div class="d-flex flex-wrap justify-content-center my-5" >
        <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
          Précédent
        </button>
        <button class="btn pagi  ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
          {{ page }}
        </button>
        <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
          Suivant
        </button>
    </div>
    </section>
</body>

<app-footer></app-footer>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Creation tontine</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label>Nom tontine</label>
            <input type="text" name="nom" class="form-control" [(ngModel)]="libelle" >
          </div>
          <div class="col mb-3">
            <label>Nombre de Participants</label>
            <input type="text" name="nbr" class="form-control" [(ngModel)]="nbrPart">
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label>Cotisation par cycle</label>
            <input type="text" name="cout" class="form-control" [(ngModel)]="montant">
          </div>
          <div class="col mb-3">
            <label>Type de tontine </label>
            <select class="form-select" name="type" [(ngModel)]="periode"  aria-label="Default select example">
              <option value="quotidien">Quotidien</option>
              <option value="hebdomaire">Hedomadaire</option>
              <option value="mensuel">Mensuel</option>
              <option value="annuel">Annuel</option>
            </select>
         
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label>Date debut</label>
            <input type="date" class="form-control" name="debut" [(ngModel)]="date_de_debut" >
          </div>
          <div class="col mb-3">
            <label>Date fin</label>
            <input type="text" class="form-control" name="fin" [(ngModel)]="duree">
          </div>
          <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> Regle de la tontine </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="regle" rows="3" [(ngModel)]="regle"></textarea>
          </div>
          <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> Description de la tontine </label>
            <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description"></textarea>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAjout fw-bold" data-bs-dismiss="modal" (click)="ajoutTontine()">Creer</button>
        <button type="button" class="btn btnRetour" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>