body{
  scroll-behavior: smooth;
  /* scroll-margin-top: -50px !important; */
}
#banner {
    width: 207vh;
    height: 90vh;
    margin-top: 4%;

}
.contenuBan{
    position: relative;
    top: -500px;
}
.contenuBan .texteBan{
    margin-top: 50px !important;
    font-size: 20px;
    margin-right: 150px;
}

.btnCreer{
    background-color: var(--couleurSecondaire);
    color: var(--couleurPrincipal);
    border-radius: 8px;
}
#about{
    margin-top: -25%;
}
.containerAbout, .containerAv{

    width: 95%;
    margin: 0 auto;
}
.imageAbout{
    margin-top: 10%;
}
.decor{
    float: right;
    position: relative;
    right: -98px;
    top: -700px;
}
.carteAv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
}

.textAbout{
    margin-top: 5%;
}
.maron{
    background-color:var(--couleurPrincipal);
    color:  var(--couleurSecondaire);
    border: 2px solid var(--couleurSecondaire);
    border-radius: 10px;
}
.avantage{
    border: 2px solid var(--couleurSecondaire);
}
.containerTemoignage{
    width: 70%;
    margin: 0 auto;
    margin-top: -2%;
}

.titretem{
    margin-left: 38%;
}
.iamgetem img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 5px solid var(--couleurPrincipal);

}
/* caroussel */
#carteTem{
    background-color: var(--couleurSecondaire);
    color: white;
}
.temoignage {
    height: 300px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 75vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    margin-right: 17%;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: white;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: white;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: white;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: white;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: white;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  /* caroussel */
  .containerTon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
    width: 90%;
    margin: 0 auto;
  }
  .texton{
    width: 70vh !important;
  }
  #tontine{
    margin-top: 300px !important;
  }
  .accordion-item{
    border-radius: 0;
    background-color: var(--couleurPrincipal);
  }
  .accordion-button{
    background-color: var(--couleurPrincipal);
  }
  

 
  .containerCardTontine{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7%;
    width: 90%;
    margin: 0 auto;
  }
  .quart-de-cercle1 {
    width: 75px; /* Ajustez la largeur selon vos besoins */
    height: 75px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 0px 5px  0px 100px; /* Utilisez des valeurs appropriées pour border-radius */
    background-color: var(--couleurPrincipal); /* Couleur de fond du quart de cercle */
    overflow: hidden; /* Cache la partie excédentaire du cercle */
    margin-left: 212px;
  }
  .carteTontineItem1{
    background-color: var(--couleurSecondaire);
    color: var(--couleurPrincipal);
  }
  .btnItem1{
    background-color: var(--couleurPrincipal);
    color: var(--couleurSecondaire);
    float: right;
    font-weight: bold;
  }
  .item1title{
    margin-top: -70px;
  }
  .carteTontineItem2{
    background-color: var(--couleurPrincipal);
    color: var(--couleurSecondaire);
  }
  .btnItem2{
    background-color: var(--couleurSecondaire);
    color: var(--couleurPrincipal);
    float: right;
    font-weight: bold;
  }
  .quart-de-cercle2 {
    width: 75px; /* Ajustez la largeur selon vos besoins */
    height: 75px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 0px 5px  0px 100px; /* Utilisez des valeurs appropriées pour border-radius */
    background-color: var(--couleurSecondaire); /* Couleur de fond du quart de cercle */
    overflow: hidden; /* Cache la partie excédentaire du cercle */
    margin-left: 212px;
  }

 /* pagination */
/* Les medias queries */
@media (max-width:776px){
  #banner{
    width: 152vh;
    /* height: 60vh; */
  }
  .contenuBan img{
    display: none;
  }
  .texteBan p{
    font-size: 18px !important;
    margin: 18% auto;
  }
  .btnCreer{
    /* width: 20vh; */
    font-size: 24px;
  }
  .containerAbout{
    /* width: 90vh; */
  }
  
  .titreAbout, .titreAv, .titretem, .titreguide, .titreTon{
    margin-left: 40%;
    width: 50vh;
    font-size: 25px !important;
  }
  .imgAbout{
    margin-left: 25%;
    width: 500vh !important;
    
  }
  .imgAbout img{
    width: 70vh !important;
    height: 50vh !important;
    
  }

  .textAbout{
    margin-left: 20%;
    font-size: 18px;
  }
  .decor{
    display: none;
  }
  .carteAv{
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 0 auto; */
    margin-left: 25%;
  }
  .avantage, .carteTontineItem1, .carteTontineItem2{
    width: 80vh !important;
    font-size: 18px;
  }
  .cardtitre{
    font-size: 24px;
    font-weight: bold;
  }
  .containerTemoignage{
    margin-left:30% ;
    /* width: 90vh; */
  }
  .item{
    height: 60vh !important;
    font-size: 18px;
  }
  .containerTon{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15%;
    margin-bottom: 10%;
    font-size: 18px;
  }
  .texton{
    width: 110vh !important;
    margin-left: -6%;
  }
  .titretem{
    margin-bottom: 8%;
  }
  .accor{
    margin-left: 30%;
    margin-bottom: 10%;
 
  }
  .containerCardTontine{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20%;
    margin-bottom: 43%;
  }
  .quart-de-cercle1, .quart-de-cercle2{
    background-color: transparent;
  }
  .item1title{
    font-size: 22px;
  }
  .btnItem1, .btnItem2{
    width: 22%;
    font-size: 18px;
  }
}
@media (min-width:777px) and (max-width:1025px){
  #banner{
    width: 205vh;
  }
  .contenuBan img{
    width: 300px !important;
    height: 300px !important;
    margin-top: 10%;
  }
  .texteBan p{
    margin-top: 20% !important;
  }
  .containerAbout{
    width: 189vh;
     
  }
  .titreAbout, .titreAv, .titretem, .titreguide, .titreTon{
    margin-left: 50%;
    width: 50vh;
    font-size: 25px !important;
  }
  .decor{
    display: none;
  }
  .containerAv, .containerTemoignage{
    margin-left: 25%;
  }
  .accor{
    margin-left: 35%;
    
  }
  .containerCardTontine{
    margin-left: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.btnAjout{
  background-color: var(--couleurPrincipal);
  color: var(--couleurSeconaire);
}
input, textarea{
  border-left: 3px solid var(--couleurSecondaire);
}
.btnRetour{
  outline: 1px solid var(--couleurPrincipal);
  color: var(--couleurSeconaire);

}